{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/webpack.*",
          "test/**/*"
        ]
      }
    ],
    "max-len": [
      "warn",
      {
        "ignoreUrls": true
      }
    ],
    "sort-imports": "warn"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      },
      "webpack": {
        "config": "./webpack.config.js"
      }
    }
  },
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "plugins": [
        "@typescript-eslint"
      ],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "rules": {
        "import/default": "off",
        "import/no-unresolved": "off",
        "no-use-before-define": "off",
        "semi": ["error", "never"],
        "comma-dangle": ["error", "never"],
        "max-len": ["error", { "code": 98 }],
        "indent": [2, 2, { "SwitchCase": 1}],
        "no-tabs": 0,
        "@typescript-eslint/no-use-before-define": "warn",
        "react/jsx-filename-extension": "off",
        "import/extensions": [
          "error",
          "ignorePackages",
          {
            "js": "never",
            "jsx": "never",
            "ts": "never",
            "tsx": "never"
          }
        ]
      }
    }
  ]
}
