*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Arial', 'sans-serif';
  font-size: 10px;
  color: #111;
}

.main-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  padding: 0 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header p {
  font-size: 1.3rem;
}

.question {
  margin: 1rem 0;
  font-size: 2.2rem;
}

.cards {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  grid-gap: 0.8rem;
}

.cards .card {
  padding: 1.2rem;
  font-size: 1.6rem;
  border: 1px solid hotpink;
}

.cards .card:focus {
  border-color: hotpink;
}

.cards .card.active {
  background: hotpink;
}

.cards .card:hover {
  background: hotpink;
}

.btn {
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all .2s linear;
}

.submit-button {
  background: #444;
  color: #fff;
  width: 130px;
  margin: 1.2rem auto 0 auto;
  border: 1px solid #444;
}

.submit-button:hover {
  background: #222;
  color: hotpink;
}

.result-modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0; left: 0;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  display: none;
}

.result-modal.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-info {
  font-size: 2.4rem;
  letter-spacing: 1px;
}

.score-info {
  font-size: 1.6rem;
  margin: 1rem 0;
}
